@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
/*.navbar {*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*    border-bottom: 1px solid #f2f2f2;*/
/*}*/
/*.navbar h1 {*/
/*    color: #f1356d;*/
/*}*/
.navbar .links{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 600px;
    /*margin: 0 auto;*/
    border-bottom: 1px solid #f2f2f2;
}
.navbar .button{
    display: flex;
    align-items:center;
    max-width: 600px;
    margin-left: 16px;
    text-decoration: none;
    background: #f1356d;
    color: #02041a;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}


.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #f1356d;
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.create label {
    /*text-align: left;*/
    display: block;
    color: #0d58d9;
}
.create h2 {
    font-size: 20px;
    color:  #0d58d9;
    margin-bottom: 30px;
}
.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    /*background: #f1356d;*/
    /*color: #02041a;*/
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.create-user button {
    background: #f1356d;
    /*color: #02041a;*/
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.create-restaurant button {
    background: #f1356d;
    /*color: #02041a;*/
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.res-preview {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 0;
    border-bottom: 1px solid #fafafa;

}
.res-preview:hover {
    text-align: center;
    /*box-shadow: 1px 3px 5px rgba(0,0,0,1);*/
}
.res-preview h2 {
    font-size: 20px;
    color: #0d58d9;
    margin-bottom: 8px;
    text-align: left;
    word-wrap: break-word;
}
.res-preview a{
    text-decoration: none;
}
.res-list{
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    background: #ffffff;
    box-shadow: 1px 3px 5px rgba(0,0,0,1);
}
.res-details h2 {
    font-size: 20px;
    /*color: #f1356d;*/
    color: #0d58d9;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.container{
    display: flex;
    list-style: none;
}

.page{
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    /*margin-left: auto;*/

}

.disabled{
    cursor: not-allowed;

}

.active{
    border: 1px solid #000;
    font-weight: bold;
}

.previous{
    margin-left: auto;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.break{
    padding: 10px;
}

.next{
    margin-right: auto;
    padding: 10px;
    border-radius: 6px;
    /*margin-right: 10px;*/
    cursor: pointer;
}
.res-details h1{
    font-size: 30px;
    color: #02041a;
    margin-bottom: 10px;
}
.res-details div {
    margin: 10px 0;
}
.res-details button {
    /*background: #f1356d;*/
    /*color: #02041a;*/
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}
.modal {
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;

}


.modal-content{
    width: auto;
    min-width: 400px;
    background-color:#fff;
}



.modal-header, .modal-footer{
    padding:10px;
    text-align: center;
}

.modal-header h2{
    padding:10px;
    text-align: center;
    word-wrap: break-word;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}